.first_container {
    background-color: blue;
    width: 100%;
    height: auto;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    color: yellow;
}

/*
.first_one_container {
  background-color: red;
  width: 100%;
  height: auto;
  background-color: #ff9;
  margin-right: auto;
  margin-left: auto;
  color: #066;
}

.first_two_container {
  background-color: rebeccapurple;
  width: 100%;
  height: auto;
  background-color: #ff9;
  margin-right: auto;
  margin-left: auto;
  color: #066;
}

.first_three_container {
  background-color: yellow;
  width: 100%;
  height: auto;
  background-color: #ff9;
  margin-right: auto;
  margin-left: auto;
  color: #066;
}
*/

/*
.second_container{
    background-color:red;
}

.second_one_container{
    background-color:blue;
}

.second_two_container{
    background-color:yellow;
}

.second_three_container{
    background-color:rebeccapurple;
}
*/

.third_container {
    margin: 50px 70px 50px 90px;
    width: 300px;
    border: 7px solid green;
    padding: 100px;
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    color: #066;
}

/*  
.third_one_container {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #ff9;
  margin-right: auto;
  margin-left: auto;
  color: #066;
}
*/