body {
  background-color: turquoise;
}

.first_container {
  border: 3px solid red;
  padding: 1%;
  background-color: blue;
  width: 75%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  position: center;
  color: yellow;
}

.second_container {
  width: 75%;
  height: 30%;
  border: 5px solid green;
  margin-right: auto;
  margin-left: auto;
  position: center;
}

/* Haritanın boyut ayarı */
#map {
  padding: 25%;
  width: auto;
  height: auto;
  position: center;
}


.first_one_button {
  background-color: red;
  padding: 15px 11px;
  line-height: 19px;
}

.first_two_button {
  background-color: red;
  padding: 15px 11px;
  line-height: 19px;
}

.first_three_button {
  background-color: red;
  padding: 15px 11px;
  line-height: 19px;
}


a:hover {
  color: white;
  background-color: black;
}




