#issMap {
  width: 65%;
  height: 700px;
}

#up_part {
  color: yellow;
  width: 100%;
  height: auto;
  background-color: gray;
  border: 100%;
  padding-left: 20px;
}

a:hover {
  color: white;
  background-color: black;
}

.home {
  background-color: yellow;
  padding: 15px 11px;
  line-height: 19px;
}
