body {
  margin: 0;
}

#up_part {
  color: yellow;
  padding: 17px;
  background-color: gray;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:hover {
  color: white;
  background-color: turquoise;
}

li {
  background-color: yellow;
  padding: 15px 11px;
  line-height: 19px;
  display: inline;
}

h3 {
  display: inline;
  text-align: center;
}


h2 {
  text-align: center;
}

table, th, td {
  border: 3px solid;
  border-collapse: collapse;
  border-color: blue;
}


#issMap {
  width: 65%;
  height: 700px;
  border: 5px solid green;
}
